<h1>My Conversations</h1>

<% if @threads.any? %>
  <%= link_to "New Conversation", new_conversation_message_path, class: "btn btn-primary pull-right" %>
  <div class="list-group">
    <%= render @threads %>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>It's Boring!</h1>
    <p>Why don't you start a new conversation?</p>
    <p><%= link_to "Start a new Conversation", new_conversation_message_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
